<body class="">
  <header class="">
  </header>

   <main class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4>商品編集</h4>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4">
          <%= fome_with model:@item, local:true do |f| %>
          <table>
            <tr>
              <td><p>商品画像</p></td>
              <td><p>商品名</p></td>
              <td><p>商品説明</p></td>
              <td><p>ジャンル</p></td>
              <td><p>税抜き価格</p></td>
              <td><p>販売ステータス</p></td>
            </tr>
            <tr>
              <td><%= f.attachment_field :image %></td>
              <td><%= f.text_field :name %></td>
              <td><%= f.text_area :introduction %></td>
              <td><%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "--選択してください--" } %></td>
              <td><%= f.text_field :price %></td>
              <td>
                <div class="">
                  <%= f.radio_button :is_active, true %>
                  <%= f.label :is_active, '販売中', value: true %>
                </div>
                <div class="">
                  <%= f.radio_button :is_active, false %>
                  <%= f.label :is_active, '販売停止中', value: false %>
                </div>
              </td>
            </tr>
          </table>
          <%= f.submit '変更を保存', class:'btn btn-lg btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</body>
