<body class="">
  <header class="">

  </header>

  <main class="">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>商品一覧</h5>
          <div><%= link_to "商品新規登録", new_admin_item_path %></div>
          <table>
            <thead>
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜き価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
              <% @items.each do |item| %>
              <tr>
                <td>
                  <%= link_to admin_item_path(item.id) do %>
                  <%= item.id %>
                  <% end %>
                  </td>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
                <td><%= item.genre.name %></td>
                <td><%= item.is_active %></td>
              </tr>
              <% end %>
           </thead>
         </table>
        </div>
      </div>
      <div class="row">
        <% paginate @items %>
      </div>
    </div>
  </main>
</body>
