<body class="">
  <header class="">

  </header>
  <main class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>注文履歴詳細</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-9">
          <table>
            <tr>
              <td>購入者</td>
              <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
            </tr>
            <tr>
              <td>注文日</td>
              <td><%= l @order.created_at %></td>
            </tr>
            <tr>
              <td>配送先</td>
              <td>
                <%= @order.address %></br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <td>支払方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <td>注文ステータス</td>
              <%= fome_with model:@order, local:true do |f| %>
              <td><%= f.select :status, Order.statuses_i18n.invert %> <%= f.submit "更新", class: 'btn btn-primary' %></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <table>
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価（税込み）</th>
                <th>数量</th>
                <th>小計</th>
                <th>製作ステータス</th>
              </tr>
            </thead>
            <% @detail.each do |detail| %>
            <tbody>
              <tr>
                <td><%= detail.item.name %></td>
                <td><%= detail.price %></td>
                <td><%= detail.amount %></td>
                <td><%= detail.price * detail.amount %></td>
                <%= fome_with model:@detail, local:true do |f| %>
                <td><%= f.select :making_status, Order_detail.making_statuses_i18n.invert %> <%= f.submit "更新", class: 'btn btn-primary' %></td>
                <% end %>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <table>
            <tr>
              <td>商品合計</td>
              <td><%= @total %>円</td>
            </tr>
            <tr>
              <td>送料</td>
              <td><%= @order.shipping_cost %>円</td>
            </tr>
            <tr>
              <td>請求金額合計</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </main>
</body>
