<body>

  <header class="">

  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4>ジャンル一覧・追加</h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-7">
          <%= form_with model:@genre, url:'/admin/genres', local:true do |f| %>
            <p>ジャンル名</p>
            <%= f.text_field :name %>
            <%= f.submit '新規登録', class: 'btn btn-lg btn-success' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <table class="">
            <tr>
              <th>ジャンル</th>
            </tr>
            <% @genres.each do |genre_list| %>
              <tr>
                <td><%= genre_list.name %></td>
                <td><%= link_to "編集する", edit_admin_genre_path(genre_list.id), class: 'btn btn-sm btn-success' %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

  </main>

</body>