<body>
    <header>
    </header>

    <main>
      <div class="container">

        <div class="row">
          <div class="col-1"></div>
          <div class="col-2">
            <h4>配送先登録/一覧</h4>
          </div>
        </div>

        <%= form_with model:@address, local true do |f| %>
        <div class="row">
          <div class="col-3">
            <p>郵便番号(ハイフンなし)</p>
          </div>
          <div class="col-3">
            <%= f.text_field :postal_code %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <p>住所</p>
          </div>
          <div class="col-6">
            <%= f.text_area :address %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <p>宛名</p>
          </div>
          <div class="col-3">
            <%= f.text_field :name %>
          </div>
          <div class="col-2">
            <%= f.submit '新規登録', class: 'btn btn-succes' %>
          </div>
        </div>
        <% end %>

        <div class="row">
          <div class="col-7">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th scope="col-1">郵便番号</th>
                  <th scope="col-3">住所</th>
                  <th scope="col-1">宛名</th>
                  <th scope="col-2"></th>
                </tr>
              </thead>
              <% @addresses.each do |address| %>
              <tbody>
                <tr>
                  <td><%= address.postal_code %></td>
                  <td><%= address.address %></td>
                  <td><%= address.name %></td>
                  <td>
                    <%= link_to "編集する", edit_address_path, class: 'btn btn-succes' %>
                    <%= link_to "削除する", address_pass(@address), method: :delete, class: 'btn btn-danger' %>
                  </td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>

      </div>
    </main>

    <footer>
    </footer>
</body>
